.collection-items {
    width: 20%;
    margin: 20px 20px;
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .collection-items {
        width: 25%;
    }
}

@media only screen and (max-width: 750px) {
    .collection-items {
        width: 40%;
    }
}

@media only screen and (max-width: 550px) {
    .collection-items {
        width: 80%;
    }
}

.image {
    height: 350px;
    background-position: center center;
    background-size: cover;
}
.collection-footer {
    position: relative;
    padding: 5px 0;
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 1px solid gray;
    box-shadow: 0px 10px 10px -10px;
}
.itemPrice{
    position: absolute;
    right: 0;
}
.addToCart {
    width: 80%;
    margin: auto;
    z-index: 3;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 60px;
    z-index: -1;
}

.addToCartH1 {
    background: rgba(170, 177, 189, .7);
    padding: 5px 10px; 
    border-radius: 4px;
    font-weight: normal;
    font-size: 1.2rem;
}

.collection-items:hover .addToCart {
    z-index: 3;
    cursor: pointer;
}
.collection-items:hover .image {
    opacity: 0.7;
}